node_modules
.env
.env.*
.env.bak
venv/
.venv/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Ignore Terraform state and cache
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
backend/lambda/dataset_validation/python/
__pycache__/
*.pyc

node_modules/

# AWS CLI cache
.aws/

# Lambda zips
*.zip

# Logs
*.log
debug.log

# Streamlit cache
.streamlit/

# Local logging directories
backend/logging/audit_logs/
backend/logging/agent_drift_logs/

# Temp files
temp/
tests/*.json

# Frontend compiled PDFs
frontend/compliance_report.pdf

# Terraform backup
backend/terraform/terraform.tfstate.backup

# Misc cache
*.egg-info/

# AWS CLI dist and cache
aws/
.aws/
